name: CI

on:
  push:
    branches: [ master ]

jobs:
  main:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Sorting
      run: |
        sort indian-passwords > indian-passwords-sorted
        while read -r line; do chars=${#line}; if [[ $chars -ge 8 ]] && [[ $chars -le 20 ]]; then echo $line; fi; done < indian-passwords >> indian-passwords-length8-20
        sort indian-passwords-length8-20 > indian-passwords-length8-20-sorted

    - name: Gitback
      run: | 
        git config --global user.email "ci@zxcv32.com"
        git config --global user.name "CI zxcV32"
        git remote add github "https://github.com/zxcV32/indian-wordlist.git"
        git add .
        git commit -m "Sorted"
        git push github master
